.backlog {
    font-family: 'PT Sans', sans-serif;
    /* min-height: 100px; */
    font-size: x-large;
    background-color: #e6e6e6;
    /* padding: 25px; */
    margin: 10px;
    /* align-items: center; */
    /* display: flex; */
    border-radius: 15px;
    position: relative;
  }
  .backlog:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.7s;
  }
  .backlog:hover > a{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    opacity: 1 !important;
    transition: opacity 0.7s;
  }
  .backlog-item {
    margin: 5px;
  }

  .actions {
    display: none;
    position: absolute;
  }

  .addtaskfab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
  }
  .nowrap {
    white-space: nowrap;
  }
  .itemsul {
    display: flex;
    align-content: space-between;
    width: 100vw;
    align-items: center;
    flex-direction: column;
  }
  .itemdesc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70vw;
    padding-left: 60px !important;
  }