.hide {
    display: none;
}

.board-column {
    background-color: #e6e6e6;
    min-height: 80vh;
}

.item-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
}

h3 {
    text-align: center;
}

.task-item {
    margin-bottom: 16px;
}

.task-item-action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-text {
    display: flex;
    align-items: center;
}

.addtaskform {
    display: flex;
    flex-direction: column;
}

.addtaskfab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}