body {
    margin: 0;
}

.d-none{
    display: none; 
}
.header{
    width: 100vw;
    height: 60px;
    background-color: #007bff;;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: white;
}
.header img{
    height: 70%; 
    margin-right: 20px;
}
.header a{
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    text-decoration: none;
}
input:placeholder-shown {
    font-style: italic;
}
.mainAutomatic{
    background-image: linear-gradient(#85b4ff, #868e9b);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}